.navigation {
    height: 70px;
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    // margin-bottom: 50px;
    // border: 2px solid red;
    position: fixed;
    top: 0px;
    z-index: 10;
    background-color: white;
  
    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
    }
  
    .nav-links-container {
        width: 50%;
        min-width: 205px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    
        .nav-link {
            padding: 10px 15px;
            cursor: pointer;
        }

        .sign-out-button {
            background-color: transparent;
            font-family: 'Open sans';
            font-size: 16px;
            border:none;
            margin: 0;
            cursor: pointer;
        }
    }
}

.navigation + * {
    padding-top: 100px;
}
  