

.sign-up-container {
    display: flex;
    flex-direction: column;
    flex-basis: 420px;
    flex-shrink: 1;
    padding:10px;

}

h2 {
    margin: 10px 0;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}